* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.col-sm-3 {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 1%;
    font-size: large;
}
.col-sm-3 h3{
    padding-top: 2%;
}

.col-sm-9 {
    font-family: 'Marvel', sans-serif;
    padding-top: 1%;
    letter-spacing: 1vh;
    font-size: x-large;
}
svg {
    cursor:pointer;
}
header {
    padding-bottom: 5%;
}

.hover, .hover2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    perspective: 1000px;
}
.hover2 {
    padding-top: 2%;
}

.col-6 {
    padding-bottom: 5%;
}
.card1 {
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    width: 75%;
    max-height: 80%;
    background-color: #d8d8d8;
   
}
.toolimg, .toolimg2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.toolimg img, .toolimg2 img{
    padding: 1rem;
    transition: all 0.75s ease-out;
    z-index: 2;
}
.overview {
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
.forwho h2, .whyme h2, .brief, .web h3, .network h3, .work h4, .work h3, .find h3 {
    font-family: 'Marvel', sans-serif;
    padding-top: 1%;
    letter-spacing: 1vh;
    font-size:x-large;
}
.forwho p, .whyme p, ul, .web p, .network p, .work p, .find p {
    font-family: 'Poppins', sans-serif;
}
.card2 {
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-height: 60%;
    background-color: #d8d8d8;
}
.developer {
   
    font-family: 'Marvel', sans-serif;
    padding-top: 1%;
    letter-spacing: 1vh;
    font-size:x-large;
}
.devname {
    font-family: 'Meddon', cursive;
}
.wave-top {
    position: relative;
    transform: scaleY(-1);
    width: 100%;
  }
.card-body {
    background-color:#e4faff;
    background-size: cover;
    color: #525252;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);

}
.bottom-info {
    letter-spacing: 0;
}
